@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 128px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 24px;
}

.mainWhite {
  color: #f6f6f6;
}

.secondaryColor {
  color: #e6e6e6;
}

.altColor {
  color: #ff6b00;
}

body {
  background-color: #1f253d;
  color: #f6f6f6;
}
